.fl{//左浮动
  float:left;
}
.fr{//右浮动
  float:right;
}
.txtC{//文字居中
  text-align: center;
}
.txtR{//文字靠右
  text-align: right;
}
.ellipsis{//单行文字超出省略号标示
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}