@import "./_variable";

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.confirmCont {
  @mb0: 0;
  ul {
    margin-bottom: @mb0;
  }
  background: #F2F5F4;
  font-size: 0.3733rem;
  .ant-divider {
    margin: .1rem 0;
  }
  .userInfo {
    background: #fff;;
    margin: 1.4rem 0 0.3rem;
    padding: .53333rem 1.14667rem .53333rem .3rem;
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    line-height: .48rem;
    font-size: .37333rem;
    color: #333;
    p{
      margin-bottom:.06667rem;
    }
    .addr {
      line-height: .48rem;
      color: #333;
      text-align: center;
      .default {
        display: inline-block;
        width: 1.4rem;
        font-size: .26667rem;
        color: #b4282d;
        border-radius: 3px;
        border: 1px solid #b4282d;
      }
      i {
        display: inline-block;
        width: .66667rem;
        height: .66667rem;
        background-size: 100%;
        background-repeat: no-repeat;
        vertical-align: middle;
      }
      i.anticon-right {
        margin-top: 0.4rem;
        margin-right: .3rem;
        display: inline-block;
        width: .66667rem;
        height: .66667rem;
        background-size: 100%;
        background-repeat: no-repeat;
        vertical-align: middle;
      }
    }
  }
  .discount {
    background: #FFF;
    font-size: .4rem;
    padding-left: .5rem;
    margin-bottom: .3rem;
    p {
      margin-bottom: @mb0;
      span {
        display: inline-block;
        line-height: 1.2rem;
      }
    }
  }
  .aboutMoney {
    background: @white;
    margin-bottom: .3rem;
    padding-left: .5rem;
    p {
      line-height: 1.2rem;
      margin-bottom: 0;
      padding-right: .3rem;
      i {
        font-size: .42rem;
      }
    }
  }
  .shooes {
    background: @white;
    padding: .4rem .5rem;
    p {
      margin-bottom: 0;
    }
    img {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: .2rem;
      background: #f4f4f4;
    }
  }
  .agree {
    height: 1.4rem;
    line-height: 1.4rem;
    padding-left: .5rem;
    input.ant-checkbox-checked {
      color: #b4282d;
    }
    .agreecont {
      color: @red;
    }
  }
  .pay {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background: @white;
    height: 1.28rem;
    line-height: 1.28rem;
    color: #b4282d;
    padding-left: .5rem;
    font-size: .35rem;
    margin-bottom: 0;
    button {
      width: 3.4rem;
      background: #b4282d;
      text-align: center;
      color: @white;
      border: none;
    }
  }
}