@import "_minxStyle";
@import "_variable";
.orderTitle{margin-top:1.5rem;}
.clearfix:after{display:block;content:"";clear:both;}
.brandFloor{
  padding:.06rem .1rem;
  .brandNav{
    display:block;
    font-size:.42667rem;
    text-align: center;
    height: 1.46667rem;
    color:#333;
  }
  .listCard{
    display: inline-block;
      margin-bottom: .10667rem;
      width: 4.73333rem;
      height: 3.14667rem;
      overflow: hidden;
      background-color: #f4f4f4;
      img{
         width:2.2rem;
          margin:-.04rem 0 0 -3rem;
       }
    .brandTit{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #333;
      font-size: .37333rem;
      line-height: .45333rem;
      margin-bottom: .08rem;
    }
    .newBrand{
      display: block;
      margin-top: .13333rem;
      width: .85333rem;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}