@import "_minxStyle";
@import "_variable";
.orderTitle{margin-top:1.2rem;}
.clearfix:after{display:block;content:"";clear:both;}
.brandFloor{
  padding:.06rem .1rem;background-color:#fff;
  .brandNav{
    display:block;
    font-size:.42667rem;
    text-align: center;
    height: 1.46667rem;
    color:#333;
  }
  .floorBox{
   font-size:0;
    .listCard{
       
    }
  }
}

.home-wrapper{
  .banner{
    .ant-carousel .slick-slide {
      text-align: center;
      height: 5.33rem;
      line-height: 5.33rem;
      background: #fff;
      overflow: hidden;
      a{
        display:block;width:100%;height:5.33rem;
        img{width:100%;height:100%}
      }
    }
    .ele{
      display: flex;padding:0.18rem 0;background-color:#fff;
      li{
        flex:1;text-align:center;
        i,span{display:inline-block;vertical-align:middle}
        i{
          background-image:url("../img/ele-1.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          width: .42667rem;
          height: .42667rem
        }
        span{font-size: .32rem;
          color: #333;
          margin-left: .10667rem;
          line-height: .42667rem;}
      }
    }
  }
}