.payCont {
  .ant-radio-group {
    background: #FFFFFF;
    padding-left:.25rem;
    width:100%;
    .anticon {
      font-size:.7rem;
      color: blue;
      margin-right:.26rem;
    }
    .ant-divider-horizontal{
     margin-left:.3rem;
    }
    .ant-radio-inner{
      width: .48rem;
      height:.48rem;
      border-radius:50%;
    }
  }
  .chooseMode {
    height: 1.4rem;
    line-height: 1.4rem;
    font-size:.26rem;
    padding-left: .2rem;
  margin-bottom:0;
  }
  .confirmPay{
    display:block;
    width: 100%;
    height: 1.32rem;
    line-height: 1.32rem;
    position: fixed;
    bottom: 0;
    background: #B4282D;
    color: #FFF;
    font-size: .42rem;
    border:none;
  }
}

