.payCont {
  .ant-radio-group {
    background: #FFFFFF;
    padding-left:.25rem;
    width:100%;
    .anticon {
      font-size:.7rem;
      color: blue;
    }
    .ant-divider-horizontal{
     margin-left:.3rem;
    }
    .ant-radio-inner{
      width: .48rem;
      height:.48rem;
      border-radius:50%;
    }
  }
  .chooseMode {
    height: .4rem;
    padding-left: .2rem;

  }
}

