@import "_variable";
@import "_minxStyle";
.shopCartBox{
  min-height: 100%;
  background:@bgf4;
  .shopTit{
    .txtC;
    height:1.15rem;
    line-height: 1.15rem;
    background: @white;
    color:@color3;
    font-size: .48rem;
  }
  .shopTips{
    display: flex;
    text-align: center;
    line-height: .9rem;
    li{
      flex:1;
      color: @color6;
    }
  }
}